.filter {
	width: 100%;
	font-size: 16px;
	font-weight: 300;
	margin: 0px 0px 45px 0px;

	&__list {
		display: flex;
		justify-content: center;
	}

	&__item {
		margin: 0px 30px 0px 0px;
		padding: 0px 0px 4px 0px;
		cursor: pointer;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		&:hover {
			opacity: 0.55;
		}

	}

	&__item--active {
		font-weight: 500;

		&::before {
			content: '#';
			padding: 0px 2px 0px 0px;
		}

		&:hover {
			opacity: 1;
		}
	}

}
