.filter {
	width: 100%;

	&__items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__button {
		margin-top: 10px;

		&:not(:last-child) {
			margin-right: 30px;

			@include max-w($mobileL) {
				margin-right: 15px;
			}
		}

		&.active {
			--d: 100%;
			color: $white;
		}
	}
}
